/* Universal Selector */

* {
    background-color: rgb(30, 10, 100);
    cursor: url(../images/cursor.png), pointer;
}


/* Attribute Selector */

[src] {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}


/* Element Selector */

h1,
h2,
h3 {
    text-align: center;
}

ul li {
    font-size: 24px;
    color: rgb(139, 108, 113);
    list-style: upper-roman inside;
    text-align: center;
}


/* Class Selector */

.section-font {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.about-me {
    font-family: cursive
}


/* ID Selector */

#myfav {
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    border-color: rgb(175, 36, 255);
    border-style:dotted;
    border-width: 2px;
}