/* Universal Selector */

* {
    background-color: rgb(121, 94, 218);
    cursor: url(../images/cursormain.png), pointer;
    text-align: center;
}


/* Attribute Selector */

a:active{
    color:rgb(136, 0, 255);
}
a:visited{
    color:rgb(230, 255, 5);
}

[src] {
    display: block;
    margin: 0 auto;
    border-radius: 10%;
}


/* Element Selector */

h1,
h2,
h3 {
    text-align: center;
    font-style: italic; color:rgb(196, 108, 255);
}

ul li {
    font-size: 24px;
    color: rgb(139, 108, 113);
    list-style:georgian;
}


/* Class Selector */

.section-font {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.about-me {
    font-family: cursive
}



/* ID Selector */

#myfav {
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    border-color: rgb(255, 157, 242);
    border-style:dotted;
    border-width: 2px;

}

#secret {
    margin: 75px;
    padding-left: 75%;
    font-size:xx-small
}

#email {
    font-size:larger;
    color:rgb(226, 43, 80);

}