/* Universal Selector */

* {
    background-color: rgb(121, 94, 218);
    cursor: url(../images/cursor.png), pointer;
}


/* Attribute Selector */

[src] {
    display: block;
    margin: 0 auto;
    border-radius: 10%;
}


/* Element Selector */

h1,
h2,
h3 {
    text-align: center;
}

ul li {
    font-size: 24px;
    color: rgb(139, 108, 113);
    list-style: upper-roman inside;
    text-align: center;
}


/* Class Selector */

.section-font {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.about-me {
    font-family: cursive
}



/* ID Selector */

#myfav {
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    border-color: rgb(255, 157, 242);
    border-style:dotted;
    border-width: 2px;
}

#myprojects {
    display:block;
    margin: 0 auto;
    width: 40%;
    padding-top:50px;
    padding-bottom:300px;
    text-align:center;
    border-color:indigo;
    border-style:dotted;
    border-width:4px;

}
